<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
/>
<div class="auth-container">
  <div class="auth-card">
    <h2>הוספת אורח חדש</h2>
    <form   #AddGForm="ngForm" (ngSubmit)="onSubmit(AddGForm)">
      <div class="form-group">
        <label for="guestName">שם האורח </label>
        <input type="text" id="guestName" [(ngModel)]="guestName" name="guestName" required />
      </div>

      <div class="form-group">
        <label for="relationshipType">סוג קרבה</label>
        <input type="text" id="relationshipType" [(ngModel)]="relationshipType" name="relationshipType" required />
      </div>

      <div class="form-group">
        <label for="phone">מספר טלפון</label>
        <input type="text" id="phone" [(ngModel)]="phone" name="phone" required />
      </div>

      <div class="form-group">
        <label for="email">כתובת אמייל</label>
        <input type="email" id="email" [(ngModel)]="email" name="email" required />
      </div>

      <div class="form-group">
        <label for="numPeople">מספר אנשים</label>
        <input type="number" id="numPeople" [(ngModel)]="numPeople" name="numPeople" required />
      </div>

      <div class="checkbox-group">
        <div class="checkbox-item">
          <label>נשלחה הזמנה</label>
          <input type="checkbox" [(ngModel)]="invitationSent" name="invitationSent"  />
        </div>
        <div class="checkbox-item">
          <label>אישר הגעה</label>
          <input type="checkbox" [(ngModel)]="arrivalConfirmed" name="arrivalConfirmed"  />
        </div>
      </div>

      <div *ngIf="showErrorMessage" class="error-message">נא מלא את כל השדות</div>

      <button type="submit" class="auth-button">הוסף אורח</button>
    </form>
    <div class="auth-footer">
      <p><a routerLink="/event-detail">חזור לניהול אירוע </a></p>
    </div>
  </div>
</div>
<!-- HTML for Popup -->
<div class="popup-overlay" *ngIf="isPopupVisible">
  <div class="popup-content">
    <h2>{{popupTitle}}</h2>
    <i class="fas fa-check-circle success-icon"></i>
    <p>{{popupMessage}}</p>

    <button (click)="closePopup()">אישור</button>
  </div>
</div>
